{% extends 'tube/base.html' %}

{% block title %} Main {% endblock %}

{% block content %}
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <label for="login">Login: </label>
    <input id="login" type="text" name="login" value="{{ login }}" required>
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" value="{{ password }}" required>
    <label for="email">Email: </label>
    <input id="email" type="text" name="email" value="{{ email }}" required>
    <input type="submit" value="sign up">
</form>
{% endblock %}
